.contactEle {
  color: white;
  text-align: left;
}
.contactEle .enquireEle {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
  color: rgb(213, 75, 75);
}
.contactEle .enquireEle a {
  color: rgb(255, 75, 75);
  text-decoration: underline;
}

.contactEle .paddingEle {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 70%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contactEle .paddingEle .formEle {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 50%;
}

.contactEle .paddingEle .formEle .field {
  margin: 0 0 5px 0;
}
.contactEle .paddingEle .formEle .field .inputEle {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
  letter-spacing: 2px;
}
.contactEle .paddingEle .formEle .field input[type='text']:focus,
.contactEle .paddingEle .formEle .field input[type='text']:active,
.contactEle .paddingEle .formEle .field input[type='email']:focus,
.contactEle .paddingEle .formEle .field input[type='email']:active,
.contactEle .paddingEle .formEle .field textarea[type='text']:focus,
.contactEle .paddingEle .formEle .field textarea[type='text']:active {
  outline: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 2px solid red;
}

.contactEle .paddingEle .formEle .field .inputEle::-webkit-input-placeholder {
  color: grey;
  opacity: 0.6;
}

.contactEle .paddingEle .formEle .field .inputEle:-ms-input-placeholder {
  color: grey;
  opacity: 0.6;
}

.contactEle .paddingEle .formEle .field .inputEle::-ms-input-placeholder {
  color: grey;
  opacity: 0.6;
}

.contactEle .paddingEle .formEle .field .inputEle::placeholder {
  color: grey;
  opacity: 0.6;
}
.contactEle form .submitDiv {
  text-align: center;
}
.contactEle form .submitButtonEle {
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  background: transparent;
  color: white;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.contactEle form .submitButtonEle:hover {
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  background: rgb(255, 75, 75);
  border: 2px solid rgb(255, 75, 75);
}

.opacify {
  visibility: hidden;
}

/* If client sends a message */
/* -------------------------------------------------------------------------- */
.contactEle .paddingEle .successCenter {
  text-align: center;
}
.contactEle .paddingEle .successEle {
  width: 100%;
}
.contactEle .paddingEle .successEle div {
  line-height: 50px;
}
.contactEle .paddingEle .successEle div i {
  margin: 0;
  padding: 10px;
  width: 5rem;
  height: 100%;
  font-size: 3em;
  border-radius: 50%;
  border: 3px solid rgb(87, 238, 87);
  background: transparent;
  color: rgb(87, 238, 87);
}
.contactEle .paddingEle .successEle h2 {
  color: rgb(87, 238, 87);
  font-family: 'Poiret One', cursive;
  letter-spacing: 3px;
  font-weight: bolder;
  text-transform: uppercase;
}

.contactEle .paddingEle .sendAgainButt {
  margin: 50px auto 0 auto;
  padding: 20px;
  width: 100%;
  background: rgba(255, 75, 75, 0.7);
  color: white;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contactEle .paddingEle .sendAgainButt::before {
  content: '🢦';
  position: absolute;
  opacity: 0;
  top: 6px;
  left: -40px;
  font-size: 3rem;
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contactEle .paddingEle .sendAgainButt:hover {
  padding-left: 70px;
  padding-right: 20px;
}
.contactEle .paddingEle .sendAgainButt:hover::before {
  left: 10px;
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
@media (max-width: 1250px) {
  .contactEle .paddingEle .formEle {
    width: 60%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 1000px) {
  .contactEle .paddingEle .formEle {
    width: 70%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 600px) {
  .contactEle .paddingEle .formEle {
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 450px) {
  .contactEle form .submitButtonEle {
    width: 80px;
    font-size: 1rem;
  }
  .contactEle .enquireEle {
    margin: 0 10% 30px 10%;
    font-size: 15px;
  }
  .contactEle .paddingEle .sendAgainButt {
    font-size: 1rem;
  }
  .contactEle .paddingEle .sendAgainButt::before {
    top: 2px;
  }
}
