.contactEle {
  color: white;
  text-align: left;
  padding: 30px 0;
}
.contactEle .enquireEle {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
  color: rgba(213, 75, 75, 0.8);
}
.contactEle .enquireEle a {
  color: rgb(255, 75, 75);
  text-decoration: underline;
}

.contactEle .formEle {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  width: 500px;
}

.contactEle .formEle .field {
  margin: 0 0 10px 0;
}

.contactEle .formEle .field .inputEle {
  background: #1b242f;
  filter: brightness(80%);
  border: 1px solid #1b242f;
  border-radius: 4px;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  letter-spacing: 1px;
  color: white;
}

.contactEle .formEle .field input[type='text']:focus,
.contactEle .formEle .field input[type='text']:active,
.contactEle .formEle .field input[type='email']:focus,
.contactEle .formEle .field input[type='email']:active,
.contactEle .formEle .field textarea[type='text']:focus,
.contactEle .formEle .field textarea[type='text']:active {
  outline: none;
  filter: brightness(80%);
  border: 1px solid #1b242f;
  background: #1b242f;
  color: white;
}

.contactEle .formEle .field .inputEle::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contactEle .formEle .field .inputEle:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contactEle .formEle .field .inputEle::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contactEle .formEle .field .inputEle::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.contactEle .formEle .field .inputEle::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contactEle form .submitDiv {
  text-align: center;
}
.contactEle form .submitButtonEle {
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  height: 3.5rem;
  background: transparent;
  color: white;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.contactEle form .submitButtonEle:hover {
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  background: rgb(255, 75, 75);
  border: 1px solid rgb(255, 75, 75);
}
.contactEle form .submitButtonEle .loaderButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Toast */
/* NOTE ERRORS */
.Toastify__toast--error.errorCont {
  background: rgba(27, 36, 47, 1);
  text-align: center;
}
.Toastify__toast-body.errorContBody {
  color: rgba(231, 76, 60, 1);
  font-family: 'Noto Sans KR', sans-serif;
}
.Toastify__progress-bar.errorProgress {
  background: rgba(231, 76, 60, 1);
}

/* NOTE SUCCESS */
.Toastify__toast--success.successCont {
  background: rgba(27, 36, 47, 1);
  text-align: center;
}
.Toastify__toast-body.successContBody {
  color: greenyellow;
  font-family: 'Noto Sans KR', sans-serif;
}
.Toastify__progress-bar.successProgress {
  background: greenyellow;
}
/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
  .contactEle .formEle {
    width: 400px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .contactEle form .submitButtonEle {
    width: 100px;
    font-size: 15px;
  }
  .contactEle .enquireEle {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .contactEle .formEle {
    width: 280px;
  }
  .contactEle form .submitButtonEle {
    width: 70px;
  }
  .contactEle .enquireEle {
    font-size: 12px;
  }
}
