* {
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* -------------------------------------------------------------------------- */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 75, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 75, 75);
}
/* -------------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
body {
  padding: 0;
  overflow: hidden;
  margin: 0px;
  position: relative;
  min-height: 100%;
  height: auto;
  background: black;
}
