* {
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* -------------------------------------------------------------------------- */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 75, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 75, 75);
}
/* -------------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
body {
  padding: 0;
  overflow-x: hidden;
  margin: 0px;
  position: relative;
  min-height: 100%;
  height: auto;
  background: black;
}
/* NOTE PRELOADER */
/* <!-- ----------------------------------------------------------------------- --> */
.loader {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#864343 -50%, black 80%);
}
.loader--remove {
  display: none;
  visibility: hidden;
}

.loader .introText {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -10%);
  text-align: center;
}
.loader .introText .svgText {
  fill: transparent;
  -webkit-animation: fill 0.5s ease forwards 2.1s;
  animation: fill 0.5s ease forwards 2.1s;
}
@keyframes fill {
  to {
    fill: rgb(255, 75, 75);
  }
}

.loader .svgText path:nth-child(1) {
  animation-delay: 0.5s;
}
.loader .svgText path:nth-child(2) {
  animation-delay: 0.6s;
}
.loader .svgText path:nth-child(3) {
  animation-delay: 0.7s;
}
.loader .svgText path:nth-child(4) {
  animation-delay: 0.8s;
}
.loader .svgText path:nth-child(5) {
  animation-delay: 0.9s;
}
.loader .svgText path:nth-child(6) {
  animation-delay: 1s;
}
.loader .svgText path:nth-child(7) {
  animation-delay: 1.1s;
}
.loader .svgText path:nth-child(8) {
  animation-delay: 1.2s;
}
.loader .svgText path:nth-child(9) {
  animation-delay: 1.3s;
}

.loader .portal {
  width: 400px;
  height: 400px;
  transition: all ease 0.15s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: comeCloser 1.5s ease 2s forwards;
}
@keyframes comeCloser {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(10);
  }
}
.loader .portal .startPortal {
  transform: perspective(400px) rotateX(60deg) translate3d(0, -200px, 0);
  animation: startPortal 0.7s ease 0.2s forwards;
}
@keyframes startPortal {
  0% {
    transform: perspective(400px) rotateX(60deg) translate3d(0, -200px, 0);
  }
  30% {
    transform: perspective(400px) rotateX(30deg) translate3d(0, -220px, 0);
  }
  100% {
    transform: perspective(400px) rotateX(0deg) translate3d(0, 0, 0);
  }
}

.loader .portal .startPortal .svgPortal {
  transform-origin: center;
  animation: rotatify 1.5s ease forwards 2.1s;
}

@keyframes rotatify {
  0% {
    transform: rotate(0);
  }
  65% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader .portal .bulbs {
  animation: warning 2s ease infinite forwards;
  fill-opacity: 0.5;
}

@keyframes warning {
  0% {
    fill-opacity: 0.5;
  }
  50% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0.5;
  }
}

@media (max-width: 650px) {
  .loader .portal {
    width: 300px;
    height: 300px;
    transition: all ease 0.15s;
  }
}

.portal .portalBack stop:nth-child(2) {
  animation: fluctuate 3s linear infinite 0.5s forwards;
}

@keyframes fluctuate {
  0% {
    stop-color: #000000;
    stop-opacity: 0;
  }
  50% {
    stop-color: #381a1a;
    stop-opacity: 1;
  }

  100% {
    stop-color: #000000;
    stop-opacity: 0;
  }
}
